
@model TImeDesk.ViewModel.BillingCurrencyViewModel


<script type="text/javascript" src="@Url.Content("~/Scripts/spectrum.js")"></script>

<!-- Modal -->
<div class="modal fade" id="billingModal" role="dialog" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title font-weight-bold">Create project</h4>
            </div>
            <div class="Project__ModalBody">

                @using (Ajax.BeginForm("AddBilling", "Billing", new AjaxOptions { HttpMethod = "POST", OnSuccess = "UpdateBillingTable" }))
                {
                    <text>
                        <div class="Project__ModalContainer">
                            @Html.TextBoxFor(p => p.Name, new { @class = "Project__ModalInput", PlaceHolder = "Billing name...", required = "required" })
                            
                            
                        

                            @Html.DropDownListFor(p => p.CurrencyId, new SelectList(Model.Currencies, "Id", "Name"), new { @class = "Project__BtnAdd btn-add.btn-add-input Billing__CurrencyDropDown", @id = "clientList" })

                            @Html.TextBoxFor(p => p.HourRate, new { @class = "Billing__ModalInput", PlaceHolder = "0", required = "required", type="number", min = "0"})
                        </div>
                        <div class="Project__ModalFooter">
                        
                            <button class="btn Project__CreateBtn" style="float: right" type="submit">Create Billing</button>
                            <button class="btn Project__CreateBtn" style="float: left" data-dismiss="modal">Close</button>

                        </div>
                    </text>
                }



            </div>

        </div>

    </div>
</div>


<script type="text/javascript">

    var id = 1;

    var cusColors = [
        "#000", "#444", "#33CC00", "#90f", "#f0f", "#f00", "#f90", "#ff0", "#0f0", "#0ff", "#c00", "#e69138",
        "#3366FF", "#00f", "#741b47"
    ];

    var color = cusColors[Math.floor(Math.random() * cusColors.length)];

    $("#togglePaletteOnly").spectrum({
        showPaletteOnly: true,
        togglePaletteOnly: true,
        togglePaletteMoreText: 'Custom color',
        togglePaletteLessText: 'Hide',
        hideAfterPaletteSelect: true,
        preferredFormat: 'hex3',
        color: color,
        change: function(color) {
            $('#color-holder').val(color);
        },
        palette: [
            ["#000", "#444", "#33CC00", "#90f", "#f0f"],
            ["#f00","#f90","#ff0","#0f0","#0ff"],
            ["#c00", "#e69138", "#3366FF", "#00f", "#741b47"]

        ]

    });

    //Convert RGB color to HEX

    function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }

    function rgbToHex(r, g, b) {
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }

    $('select').on('change', function () {
        if (this.value == 'Without client') {
            $("#clientList").prop("selectedIndex", 0);
        }
    });

    $(document).one('ready', function () {


        $('#color-holder').val(color);

    });

    $(document).ready(function()
    {
        $('.modal').on('hidden.bs.modal', function(){
            $(this).find('form')[0].reset();
        });
    });

    function UpdateBillingTable() {

 

        $('#billingModal').modal('hide');

        //Refresh table
        $('#Project__List').load('@Url.Action("GetBillingsPartialViewResult", "Billing")');



    }

</script>

