@using TImeDesk.Models.Database
@model TImeDesk.ViewModel.TaskProjectViewModel

<table class="table " id="ProjectTable">
    <thead>
        <tr>
            <th class="">
                <input type="checkbox" class="select-all checkbox" name="select-all" />
            </th>
            <th>Task</th>
            <th>Project</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ProjectBody">

        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td class="">
                    <input type="checkbox" class="select-item checkbox" name="select-item" value="1000" />
                </td>
                <td>@task.Name <span class="Project__ColorHolder" style="background-color:@task.ColorString;  "></span> </td>
                <td>@Model.AllProjects.First(c => c.Id == task.ProjectId).Name </td>
                <td>@((task.Status.Id == Status.Active) ? task.Status.Name : "")</td>
                <td><button data-customer-id="@task.Id" class="btn-link js-delete"><i class="fa fa-trash" style="color: #B6B6B6;" aria-hidden="true"></i></button></td>
            </tr>
        }


    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {

        //Initialize data table
       $('#ProjectTable').dataTable({
            //Remove paging
         //   "paging": false,
            //Remove info ("Showing x entries of ... )
          //  "bInfo": false,
            "order": [[1, "desc"]],
            "columnDefs": [{
                "targets": [0,4],
                "orderable": false
            }]
        });

        $('#ProjectTable').on("click", ".js-delete" ,function () {
            var button = $(this);
            //alert("Test");
            $.ajax({
                url: ('@Url.Action("DeleteTask", "Task")'),
                data: "id=" + button.attr("data-customer-id"),
                method: "POST",
                success: function () {
                   // Data table neaktualizuje data
                  //  button.parents("tr").remove();
                   // table.row(button.parents("tr")).remove().draw();
                    $('#Tasks__List').load('@Url.Action("GetTaskPartialViewResult", "Task")');  
                }
            });

        });

    });

</script>